.lp-archive-courses {
    max-width: 90%!important;
    width: 910px!important;

    ul.learn-press-courses {
        margin: 0;
        justify-content: space-between;

        a.course-permalink {
            display: block;
        }
    }
}
