.lp-single-course {
    max-width: 960px!important;
}

.sejoli-memberarea-conten .lp-single-course {
    width: 100%!important;
    max-width: 100%!important;
}

.sejoli-product-related {
    ul {
        margin:0 0 0.5rem 0;
        padding: 0;
        list-style: none;
        li a {
            display: block;
            padding: .5rem 1rem ;
            font-size: 18px;
            background-color: white;
            border-bottom: 2px solid $color-light-grey;
        }
    }
}

.button-purchase-course {
    display: none;
}