$color-red: #dd88ae;
$color-green: #009688;
$color-blue: #00adff;
$color-light-grey: #F5F5F5;
$color-soft-black: #333333;
$border-radius: 4px;
$margin-bottom: 20px;

// BUTTONS
@mixin general-button {
    border: none;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: $border-radius;
    line-height: 2.5rem;
    text-transform: uppercase;
}

@mixin main-button {
    @include general-button;
    background-color: $color-blue;
    color: white;
}

.lp-single-course {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.learn-press-breadcrumb {
    background-color: #ddd;
    padding: 12px 20px;
}

.learn-press-course-results-progress {
    display: flex;
    justify-content: space-between;
    margin: 0;

    > div {
        float: none!important;
        width: 45%!important;
        margin: 0 0 1.5rem 0!important;

        &.items-progress span.number,
        &.course-progress .lp-course-status {
            margin-bottom: .5rem;
            display: block;
        }

        &.course-progress .lp-course-status .lp-label {
            background-color: black;
        }
    }

    &:after {
        display: none;
    }
}

.content-item-wrap {
    .content-item-summary {
        p {
            font-size: 16px;
        }
    }
}

#learn-press-course {

    .course-meta {
        span {
            display: inline-block;
            padding: 6px 10px;
            border-radius: 8px;
            color: white;
            background-color: $color-green;
        }
    }

    .course-remaining-time {
        margin-bottom: 1.5rem;
    }

    .section {

        .section-header {
            cursor: pointer;
            padding-left: .75rem;
            padding-right: .75rem;
            background-color: lighten($color-blue, 40%);
        }

        .section-content {
            .course-item {
                padding-left: .75rem;
                padding-right: .75rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .course-curriculum  ul.curriculum-sections .section-content .course-item a.section-item-link {
        display: flex;
        flex-wrap: wrap;
        > * { display: block; }
        .course-item-meta {
        }
    }
}

@import 'archive';
@import 'course';
@import 'lesson';
@import 'quiz';
